<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.murongyehua.mrwb.base.dao.mapper.BaseModalInfoMapper">
  <resultMap id="BaseResultMap" type="com.murongyehua.mrwb.base.dao.po.BaseModalInfoPO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="modal_state" jdbcType="CHAR" property="modalState" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, modal_state, create_user, create_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_modal_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from base_modal_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.murongyehua.mrwb.base.dao.po.BaseModalInfoPO" >
    insert into base_modal_info (id, `name`, modal_state, create_user,
      create_time, version)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{modalState,jdbcType=CHAR}, #{createUser,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.murongyehua.mrwb.base.dao.po.BaseModalInfoPO">
    insert into base_modal_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
          id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="modalState != null">
        modal_state,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
          #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="modalState != null">
        #{modalState,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.murongyehua.mrwb.base.dao.po.BaseModalInfoPO">
    update base_modal_info
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="modalState != null">
        modal_state = #{modalState,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.murongyehua.mrwb.base.dao.po.BaseModalInfoPO">
    update base_modal_info
    set `name` = #{name,jdbcType=VARCHAR},
      modal_state = #{modalState,jdbcType=CHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectBySelective" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List"/>
    from base_modal_info
    <where>
      <if test="id != null">
        id = #{id, jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        and `name` = #{name,jdbcType=VARCHAR}
      </if>
      <if test="modalState != null">
        and modal_state = #{modalState,jdbcType=CHAR}
      </if>
    </where>
  </select>
</mapper>