<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.murongyehua.mrwb.base.dao.mapper.BaseUserRightMapper">
  <resultMap id="BaseResultMap" type="com.murongyehua.mrwb.base.dao.po.BaseUserRightPO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="modal_id" jdbcType="VARCHAR" property="modalId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, modal_id, user_id, create_user, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_user_right
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from base_user_right
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.murongyehua.mrwb.base.dao.po.BaseUserRightPO">
    insert into base_user_right (id, project_id, modal_id, user_id,
      create_user, create_time)
    values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{modalId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.murongyehua.mrwb.base.dao.po.BaseUserRightPO" useGeneratedKeys="true">
    insert into base_user_right
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
          id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="modalId != null">
        modal_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
          #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="modalId != null">
        #{modalId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.murongyehua.mrwb.base.dao.po.BaseUserRightPO">
    update base_user_right
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="modalId != null">
        modal_id = #{modalId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.murongyehua.mrwb.base.dao.po.BaseUserRightPO">
    update base_user_right
    set project_id = #{projectId,jdbcType=VARCHAR},
      modal_id = #{modalId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="distinctProjectId" resultType="java.lang.String">
    select distinct(project_id) from base_user_right
    where user_id = #{userId}
  </select>
  <select id="selectBySelective" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from base_user_right
    <where>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR}
      </if>
      <if test="modalId != null">
        and modal_id = #{modalId,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="createUser != null">
        and create_user = #{createUser,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>